<link rel="stylesheet" href="/css/book_list.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="/publics/js/main.js"></script>

<h1>BookShelf / My Books</h1>
<% const arr=user.bookSchema; %>
<% const genres= ["Other","Non-Fiction","Mystery","Romance","Science Fiction","Fantasy","Thriller/Suspense","Horror","Historical Fiction","Contemporary","Young Adult","Children's","Biography/Memoir","Crime","Drama","Comedy/Humor","Adventure","Poetry","Self-Help","Religion/Spirituality","Fiction"]; %>


<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="AB-tab" data-bs-toggle="tab" data-bs-target="#AB-tab-pane" type="button" role="tab" aria-controls="AB-tab-pane" aria-selected="true">All Books Tab</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="RL-tab" data-bs-toggle="tab" data-bs-target="#RL-tab-pane" type="button" role="tab" aria-controls="RL-tab-pane" aria-selected="false">Read List Tab</button>
    </li>
  </ul>
  <!-- TAB1 -->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="AB-tab-pane" role="tabpanel" aria-labelledby="AB-tab" tabindex="0">
      <div  id="search-tools">
        <p>Select tags for searching books:</p>
        <label for="by-name">Title</label>
        <input type="radio" name="tags" value="name" checked>
  
        <label for="by-author">Author</label>
        <input type="radio" name="tags" value="author">
        
        <input type="search" name="search-box" id="search-box">
        <input type="hidden" name="userInfo" data-userinfo="<%=JSON.stringify(user.bookSchema)%>">
      </div>  
      <div id="searchResult">
        <table class="searchResultTable">
          <tr id="headers">
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Upload Date</th>
            <th>Add To Read List</th>
            <th>Delete</th>
          </tr>
          <% arr.forEach(function({bookFile,name,author,genre,_id,readList,createdAt}){ %>
            <%  const bookFileEncoded=encodeURIComponent(bookFile); %>
              <tr class="rowData rowDataAllBooks">
                <td><a href="/user/pdf/<%=bookFile%>" target="_blank"><%=name%></a></td>
                <td><p><%=author%></p></td>
                <td><p><%=genre%></p></td>
                <td><%=createdAt.toString().substring(0,21)%></td>
                <td>
                  <label>
                    <input type="checkbox" name="readList" data-book-id="<%=_id%>"  <%= readList ? 'checked' : '' %> >
                    Add to read list
                  </label>
                </td>
                <td><small><a href="/user/pdf/delete-book/<%=_id%>/<%=bookFileEncoded%>">X</a></small></td>
              </tr>
          <% }) %>
      </table>
      </div>
    </div>
    <!-- TAB2 -->
    <div class="tab-pane fade" id="RL-tab-pane" role="tabpanel" aria-labelledby="RL-tab" tabindex="0"></div>
  </div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
