<link rel="stylesheet" href="/css/user_profile.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<h1>
    BookShelf / Profile Page
</h1>
<p><%= user.name %></p>
<p><%= user.email %></p>
<img src="<%=imageURL%>">
<ul display="inline">
    <%for(const genre in genreCount){ %>
        <li>
            <p><%=genre%> : <%=genreCount[genre]%></p>
        </li>
    <%}%>
</ul>